@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f4f6;
  font-family: "Poppins", sans-serif;
}

.btn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  background-color: #3b82f6;
  color: white;
  border-radius: 8px;
  margin-right: 12px;
}

.container {
  padding: 20px;
  display: flex;
  background-color: #e5e7eb;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 32px;
  color: #3b82f6;
  font-weight: 400;
}

.subscribe {
  background-color: #b91c1c;
  padding: 8px;
  border-radius: 8px;
  color: white;
}

.container-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.test1 {
  display: flex;
  align-items: center;
  height: 120px;
  background-color: #3b82f6;
  color: white;
}

.test2 {
  height: 60px;
  background-color: #f0a037;
  color: white;
}

.test3 {
  height: 90px;
  background-color: #37f0f0;
  color: white;
}
